<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link href="~/css/Default.css" rel="stylesheet" />
    <!-- endinject -->
</head>
<body ng-app="app" >
    @*<toast></toast>*@

    <div class="header">
        <h1>Header</h1>
    </div>

    <div class="content">
        <branches-component></branches-component>
    </div>

    <div class="footer">
        <p>Footer</p>
    </div>

    <script type="text/javascript">
        config = {};

        config.uri = {
            api: 'http://localhost:40013/api/',
            root: window.location.origin + window.location.pathname + '/app',
        };
    </script>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/dist/app.js"></script>
    <!-- endinject -->
</body>
</html>